@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;600&display=swap");

// Navbar
html h1,
h2,
h3,
h4,
p,
a,
li,
button {
    scroll-behavior: smooth;
    font-family: Work Sans, sans-serif;
    position: relative;
}

ul {
    list-style-position: inside;
}

body,
html {
    height: 100%;
}

p,
a, 
li {
    font-weight: 200;
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo-container {
    display: flex;
    justify-content: center;
    // flex-direction: row;
}
.logo-text {
    font-family: "Helvetica Neue";
}

#thin-logo {
    font-weight: 100;
}

#web-navigation-bar {
    width: 100%;
    height: 5vh;
    background-color: white;
    position: fixed;
    z-index: 99;
    display: flex;
}

.nav-item-container {
    height: 100%;
    // margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#quote-url-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
    text-align: center;
}
#web-navigation-bar button,
#phone-link,
#quote-url-link {
    background-color: Transparent;
    color: black;
    border: none;
    cursor: pointer;
    overflow: hidden;
    font-size: 16px;
    font-weight: 200;
    outline: none;
    width: 100%;
    transition: background-color 1s ease;
}

#web-navigation-bar button:hover,
#phone-link:hover,
#quote-url-link:hover {
    background: grey;
    color: white;
}
#mobile-navigation-bar {
    display: none;
}

#phone-image {
    height: 100%;
}

#phone-link {
    color: black;
    text-decoration: none;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

//Quote Button
.quote-button-container {
    padding: 1vh;
}

.quote-button {
    padding: 1vh;
    text-decoration: none;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.8em;
    box-sizing: border-box;
    transition: ease 1s;
}

//navbar button
/* Dropdown Button */
.dropbtn {
    // background-color: #3498DB;
    color: white;
    height: 100%;
    // padding: 16px;
    // font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover,
.dropbtn:focus {
    // background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    height: 100%;
    width: 100%;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    width: 100%;
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content button {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content button:hover {
    background-color: #ddd;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */

//Other

#footer-container {
    text-align: center;

    padding-bottom: 50px;
    color: rgba(0, 0, 0, 0.548);
}

.main-container {
    margin-left: 13vh;
    margin-right: 13vh;
    margin-top: 15vh;
    margin-bottom: 15vh;
}

.fit-image-to-container {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.centered-button {
    margin: 0 auto;
    display: block;
}

@media screen and (max-width: 899px) {
    //BEGIN TEMP FIX FOR CHANGING VIEWPORT SIZE
    #app-container {
        height: 100%;
    }
    html,
    body {
        overflow-x: hidden;
        height: 100%;
    }

    //END TEMP FIX FOR CHANGING VIEWPORT SIZE

    .main-container {
        margin-left: 0;
        margin-right: 0;
        margin-top: 20vw;
        margin-bottom: 0vh;
    }

    #web-navigation-bar {
        display: none;
    }
    #mobile-navigation-bar {
        display: flex;
        position: fixed;
        background-color: white;
        width: 100%;
        height: 10vw;
        z-index: 10;
    }
    #form-link {
        text-decoration: none;
    }

    #phone-image {
        height: 50%;
    }

    .phone-item-container {
        height: 10vw;
        // width: 35vw;
        position: fixed;
        right: 5.5vw;
        // top: 2.5vw;
    }

    // Navbar Styling for Mobile Menu
    .menu-item {
        color: white;
        padding-top: 3vh;
        padding-bottom: 3vh;
        -webkit-user-select: none; /* Safari */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* IE10+/Edge */
        user-select: none; /* Standard */
    }
    .menu-item:hover {
        color: rgba(255, 255, 255, 0.753);
    }

    .menu-item {
        outline: none;
    }

    /* Position and sizing of burger button */
    .bm-burger-button {
        position: fixed;
        width: 7vw;
        height: 5vw;
        left: 5.5vw;
        top: 2.5vw;
    }

    /* Color/shape of burger icon bars */
    .bm-burger-bars {
        background: #373a47;
    }

    /* Color/shape of burger icon bars on hover*/
    .bm-burger-bars-hover {
        background: rgba(44, 44, 44, 0.5);
    }

    /* Position and sizing of clickable cross button */
    .bm-cross-button {
        height: 24px;
        width: 24px;
    }

    /* Color/shape of close button cross */
    .bm-cross {
        background: #bdc3c7;
    }

    /*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
    .bm-menu-wrap {
        position: fixed;
        height: 100%;
    }

    /* General sidebar styles */
    .bm-menu {
        background: #373a47;
        padding: 2.5em 1.5em 0;
        font-size: 1.15em;
    }

    /* Morph shape necessary with bubble or elastic */
    .bm-morph-shape {
        fill: #373a47;
    }

    /* Wrapper for item list */
    .bm-item-list {
        color: #b8b7ad;
        padding: 0.8em;
    }

    /* Individual item */
    .bm-item {
        display: inline-block;
    }

    /* Styling of overlay */
    .bm-overlay {
        background: rgba(0, 0, 0, 0.3);
    }
}
