#philosophy-container {
    display: flex;
    height: 100vh;
}

.philosophy-text-container {
    margin: auto;
    background-color: rgba(73, 72, 72, 0.10);
    padding: 5vh;
}

#philosophy-image-container {
    width: 60%;
    height: 80vh;
    min-width: 50vw;
    margin: auto;
}

#philosophy-title-text{
    padding-bottom:2vh;
}

#mobile-philosophy-text {
    display: none;
}




@media screen and (max-width: 899px)  and (orientation: portrait){
    #philosophy-container{
        flex-direction: column;
        height: 100%;
    }
    #philosophy-image-container {
        width: 100vw;
        height: 60vh;
        margin: 0;
    }
    #desktop-philosophy-text{
        display: none;
    }

    #mobile-philosophy-text{
        display: block;
        margin: 0;
    }
}


@media screen and (max-width: 899px)  and (orientation: landscape){
    #philosophy-container{
        flex-direction: column;
        height: 100%;
    }
    #philosophy-image-container {
        width: 100vw;
        height: 80vh;
        margin: 0;
    }
    #desktop-philosophy-text{
        display: none;
    }

    #mobile-philosophy-text{
        display: block;
        margin: 0;
    }
}

